
<div class="box">
<form action="/places/listings" method="POST">
  Available on: <input type="date" name="start_availability" min="<%= Date.today %>">
  <input type="submit" value="Show Places">
</form>
<form action="/places/listings" method="get">
  <input type="submit" value="Show All">
</form>
</div>


<% @places.each do |place| %>

  <div class="box">
    <h2 class="place_name"><%= place.name %></h2>
    <p class="price">£<%= place.price %> per night</p>
    <p class="description"><%= place.description %></p>
    <p class="availability">Available from: <%= place.start_availability %> to: <%= place.end_availability %></p>
    <% if place.user == current_user %>
      <form action="/places/edit/<%= place.id %>" method="get">
        <input type="submit" value="Edit">
      </form>
    <% else %>
      <form action="/places/<%= place.id %>" method="get">
        <input type="submit" value="Book">
      </form>
    <% end %>
  </div>
<% end %>
