<div class="box">
  <h2 class="place_name"><%= @place.name %></h2>
  <p class="price">£<%= @place.price %> per night</p>
  <p class="description"><%= @place.description %></p>
  <p class="availability">Available from: <%= @place.start_availability %> to: <%= @place.end_availability %></p>
</div>
