<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

  <body>
  <div class="box">
    <h2 class="place_name"><%= @place.name %></h2>
    <p class="price">£<%= @place.price %> per night</p>
    <p class="description"><%= @place.description %></p>
    <p class="availability">Available from: <%= @place.start_availability %> to: <%= @place.end_availability %></p>
  </div>
  <div class="box">
    <form action="/requests/new" method="POST">
      Select date for booking: <div id="datepicker"></div>
      <input id='input_date' type="hidden" name="date" value="">
      <input type="hidden" name="place_id" value="<%= @place.id %>">
      <button type="submit" id="request_booking">Request Booking</button>
    </form>
  </div>
  </body>
  <script src="/datepicker.js"></script>
</html>
